* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #fff;
    color: #383838;
}

body.active {
    position: fixed;
}

p {
    font-size: 1.2em;
}

header {
    width: 100%;
    height: 72px;
    padding: 20px;
    background-color: #383838;
    color: #fff;
    box-sizing: border-box;
}

header.active {
    position: fixed;
}

header h1 {
    font-size: 2em;
    display: inline-block;
}

#menu-toggle {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 32px;
}

#menu-toggle span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    transition: transform .3s, opacity .2s linear;
    -webkit-transition: -webkit-transform .3s, opacity .2s linear;
}


#menu-toggle span:nth-child(1) {
    top: 2px;
}

#menu-toggle span:nth-child(2) {
    top: 10px;
}

#menu-toggle span:nth-child(3) {
    top: 18px;
}

#menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
    -webkit-transform: rotate(45deg) translate(8px, 8px);
}

#menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

#menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -9px);
    -webkit-transform: rotate(-45deg) translate(9px, -9px);
}

#menu-items {
    z-index: 1;
    display: none;
    width: 100%;
    height: calc(100vh - 72px);
    background-color: #383838;
    position: fixed;
    top: 72px;
    left: 0;
    text-align: center;
    box-sizing: border-box;
}

#menu-items a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 0.8em;
}

#menu-items.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

main {
    background-color: #ECEBF3; /* alt: C7D6D5 */
    width: 100%;
    margin: auto;
    color: #383838;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
}

main h2 {
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

main p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

section h3 {
    font-size: 1.8em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

section p {
    margin-left: 20px;
    margin-right: 20px;
}

section img {
    width: 100%;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 10px solid #383838;
}

.bottom-paragraph {
    margin-top: 60px;
}

footer {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    background-color: #242423;
    position: relative;
    bottom: 0;
    color: #fff;
    text-align: center;
}

footer p {

}

@media screen and (min-width: 960px) {

    #menu-toggle {
        display: none;
    }

    #menu-items {
        display: inline-block;
        position: static;
        width: initial;
        height: 100%;
        float: right;
        line-height: 36px;
        box-sizing: border-box;
    }

    #menu-items a {
        display: inline-block;
        font-size: 1.4em;
        margin: 0px 8px 0px 8px;
        height: 100%;
    }

    #menu-items.active {
        display: inline-block;
    }


    main {
        width: 60%;
    }
}
